@import 'src/assets/styles/globals';

.spinner {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 50px;
  height: 50px;
  
  & .path {
    stroke: $blue-sky;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
