@import 'src/assets/styles/globals';

.profile {
  max-width: 500px;
  height: 800px;
  padding: 2.25rem 1rem;
  background: linear-gradient(to bottom, $blue-navy 0%,$blue-navy 12%,$white 12%,$white 100%);
  border-radius: 0.3125rem;
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
}