@import 'src/assets/styles/globals';

.comment {
  display: flex;
  padding: 1rem;

  @include medium {
    padding: 2rem 1.25rem 1rem;
  }

  &__avatar {
    display: flex;
    align-items: flex-start;
  }

  &__content {
    flex-grow: 1;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: $blue-navy;
  }

  &__message {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: $ebony;
    line-height: 21px;
    word-break: break-all;

    @include medium {
      padding-right: 2rem;
    }
  }
}