@import 'src/assets/styles/globals';

.comments-list {
  &.--open {
    .comments-list__box {
      height: 500px;
      opacity: 1;
      transition: all 0.25s ease;
    }
  }

  &__toggle-box {
    text-align: center;

    @include medium {
      margin-top: 0.75rem;
      padding-left: 1.5rem;
      text-align: left;
    }

    &__handle {
      color: $orange;
      text-decoration: underline;

      &:hover {
        color: darken($orange, 10%);
      }
    }
  }

  &__add-new {
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem 1rem;
    border-top: 1px solid $gray-light;

    input {
      width: 100%;
      padding: 0.5rem 0;
      border: none;
      border-bottom: 2px solid #DBE0E8;
      font-size: 18px;

      &:focus {
        padding: 0.5rem;

        &::placeholder {
          opacity: 0;
          transition: all 0.25s;
        }
      }

      &::placeholder {
        opacity: 1;
        color: $blue-sky;
        transition: all 0.25s;
      }
    }
  }

  &__box {
    position: relative;
    margin: 1.5rem 0.25rem 0 0;
    list-style-type: none;
    padding: 0 0.5rem 0 0;
    height: 0px;
    overflow-y: scroll;
    opacity: 0;
    transition: all 0.25s ease-in;

    li {
      position: relative;
      min-height: 100px;
      border-bottom: 1px solid $gray-light;
  
      &:last-of-type {
        border-bottom: none;
      }
    }
  
    &::-webkit-scrollbar {
      width: 0.3125rem;
    }
  
    &::-webkit-scrollbar-track {
      background: rgba(#D8D8D8, 0.3);
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgba($blue-navy, 0.1);
      
    }

    &__fallback {
      text-align: center;
      position: absolute;
      top: calc(50% - 22px);
      width: 100%;
      padding: 0 0.75rem;
      font-size: 0.875rem;
      color: $ebony;
    }
  }
}