@import 'src/assets/styles/globals';

.modal {
  display: none; 
  position: absolute; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  &.--open {
    display: block;
  }

  &__content {
    position: relative;
    background-color: $white;
    margin: 0 1rem;
    padding: 1.5rem 1.25rem;
    border-radius: 0.3125rem;
    max-width: 420px;
    box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
    animation: slideFromTop 0.5s forwards;

    @include medium {
      margin: auto;
    }

    input {
      padding: 0.5rem;
      width: 100%;
      border: 1px solid $gray;
      background: $ivory;
    }
  }

  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.25rem;
    color: $gray;
    float: right;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1rem;

    &:hover {
      color: $ebony;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@keyframes slideFromTop {
  from {top: -300px; opacity: 0}
  to {top: 80px; opacity: 1}
}