@import 'src/assets/styles/globals';

.alert {
  display: none;
  margin: -1.5rem 0 0.5rem;

  &.--open {
    display: block;
  }

  &__content {
    position: relative;
    padding: 1.25rem 2rem 1.25rem 1rem;
    background: $crimson;
    border-radius: 0.3125rem;
    color: $white;
    font-size: 0.875rem;
    animation: popUp 0.5s forwards;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.25rem;
      color: $gray;
      float: right;
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 1rem;
  
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@keyframes popUp {
  from {transform: scale(0); padding: 0}
  to {transform: scale(1); padding: 1.25rem 2rem 1.25rem 1rem}
}