@import 'src/assets/styles/globals';

.user-social-stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0 0;

  @include medium {
    flex-direction: row;
    padding: 1rem 0;
  }

  .btn-follow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: 46px;
    background: $orange;
    color: $white;
    border-radius: 100px;
    text-transform: capitalize;
    font-size: 0.875rem;
    letter-spacing: 4.2px;
    font-weight: 600;

    @include up-to-medium {
      margin-top: 1rem;
    }

    &:hover {
      background: darken($orange, 10%);
    }
  }

  &__list {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    @include medium {
      padding-right: 2rem;
      justify-content: flex-start;
    }
  
    li {
      display: flex;
      flex-direction: column;
      min-width: 75px;
      border-right: 1px solid rgba(#979797, 0.1);

      &:first-of-type {
        a {
          padding-left: 0
        }
      }

      &:last-of-type {
        border-right: 0;

        @include up-to-medium {
          align-items: flex-end;
        }

        a {
          padding-right: 0;
        }
      }

      &:nth-of-type(2) {
        @include up-to-medium {
          align-items: center;
        }
      }

      @include up-to-medium {
        flex-grow: 1;
        flex-basis: 0;
      }
  
      a {
        display: flex;
        flex-direction: column;

        @include small {
          padding: 0 1.5rem;
        }

        span {
          font-size: 0.625rem;
          color: $blue-sky;
          
          &:first-child {
            color: $orange;
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
