@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/montserrat-v12-latin-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./assets/fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/montserrat-v12-latin-regular.woff') format('woff'),
       url('./assets/fonts/montserrat-v12-latin-regular.ttf') format('truetype'), 
       url('./assets/fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); 
}

@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?s34x2t');
  src:  url('./assets/fonts/icomoon.eot?s34x2t#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?s34x2t') format('truetype'),
    url('./assets/fonts/icomoon.woff?s34x2t') format('woff'),
    url('./assets/fonts/icomoon.svg?s34x2t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-regular:before {
  content: "\e900";
}
.icon-share-square-solid:before {
  content: "\e901";
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}