$white: #FFFFFF;
$ivory: #f7f7f7;
$gray-light: #EBEBEB;
$gray: #D3D3D3;
$ebony: #444444;
$blue-navy: #002C71;
$blue-sky: #8298B9;
$orange: #FFA640;
$crimson: #FF2626;

$width-x-small: 320px;
$width-small: 360px;
$width-medium: 480px;

// mixins
@mixin x-small {
  @media (min-width: $width-x-small) {
      @content;
  }
}

@mixin small {
  @media (min-width: $width-small) {
      @content;
  }
}

@mixin medium {
  @media (min-width: $width-medium) {
      @content;
  }
}

@mixin up-to-medium {
  @media (max-width: $width-medium - 1) {
      @content;
  }
}