@import 'src/assets/styles/globals';

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include medium {
    flex-direction: row;
  }

  &__data {
    position: relative;
    margin-top: 1.5rem;
    text-align: center;

    @include medium {
      margin-top: 0;
      text-align: left;
    }
  
    h3 {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      color: $blue-navy;
      margin: 0;
  
      .like-handle {
        margin-left: 0.75rem;

        @include up-to-medium {
          position: absolute;
          top: 0px;
          right: -1.5rem;
        }

        span {
          color: $gray;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  
    span {
      font-size: 0.75rem;
      color: $blue-sky;
    }
  }

  .user-avatar {
    position: absolute;
    top: -48px;

    @include up-to-medium {
      img {
        margin-right: 0;
      }
    }

    @include medium {
      position: relative;
      top: auto;
    }
  }
}
