@import 'src/assets/styles/globals';

.profile-header {
  position: relative;
  min-height: 100px;
  padding: 1rem 1.25rem;
  background: $white;
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
  border-radius: 0.3125rem;

  @include medium {
    padding: 1rem 1.5rem;
  }

  &__share-handle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    color: $orange;
    font-size: 0.75rem;

    &:hover {
      color: darken($orange, 10%);
    }
  }
}